@import './drag.less';
@import './font.less';
@import './theme.less';

html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: QuanWeiJunHei, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 圆框需要 不然圆角会有背景色*/
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 2px;
  overflow: hidden;
}

img, image {
  -webkit-user-drag: none;
}

input,
textarea {
  -webkit-appearance: none;
}

body,
#app {
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
