@import './font.less';
html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // PingFang SC
  font-family:  'Noto Sans SC', sans-serif !important ;
    // font-family:  font-family: 'Noto Sans SC', sans-serif ;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // --td-font-family : 'Noto Sans SC', sans-serif !important;
}

img {
  -webkit-user-drag: none;
}

